<div *ngIf="emailList.length>0; else noemail">
  <h3>Mail Inbox</h3>
</div>
<div class="text-left">
  <button class="btn btn-primary btn-sm" (click)="createEmail()">Create Email</button>
</div>
<ul class="list-group">
  <li *ngFor="let e of emailList" class="list-group-item">
    <p>
      Email number: {{ e.id }} <br>
    </p>
    <div class="text-right">
      <button class="btn btn-primary btn-sm mr-1" (click)="viewEmail(e.id)" >View Email</button>
      <button class="btn btn-primary btn-sm mr-1" (click)="removeEmail(e.id)">Delete Email</button>
    </div>
  </li>
</ul>

<ng-template #noemail>
  <p>Your mailbox is empty.</p>
</ng-template>
